# Editor, IDE and dev environment stuff
*~
.project
.settings

# Build files and directories
/coverage
/doc/api
/build/
/jodid25519-*.tgz
/.npm-build-deps

# npm things, don't add these to .npmignore
/node_modules
/jodid25519.js*
